.hero {
  width: 100vw;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  transition-property: all;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
